/* # Genesis Sample Child Theme  
Theme Name: Genesis Sample Theme  
Theme URI: http://my.studiopress.com/themes/genesis/  
Description: This is the sample theme created for the Genesis Framework.   
Author: StudioPress  
Author URI: http://www.studiopress.com/  
Template: genesis  
Template Version: 2.1.2  
Tags: black, orange, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, custom-menu, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready  
License: GPL-2.0+  
License URI: http://www.gnu.org/licenses/gpl-2.0.html  
*/


/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Header Navigation
	- Primary Navigation
	- Secondary Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Retina Display
	- Max-width: 1200px
	- Max-width: 960px
	- Max-width: 800px
*/


/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#333}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* ## Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* ## Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

body {
	background-color: #f5f5f5;
	color: #333;
	font-family: Lato, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	color: #e5554e;
	text-decoration: none;
}

a:hover {
	color: #333;
}

p {
	margin: 0 0 28px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: Lato, sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery img {
	border: 1px solid #ddd;
	height: auto;
	padding: 4px;
}

.gallery img:hover {
	border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #333;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
	font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #333;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 300;
	padding: 24px 24px;
	text-transform: uppercase;
	width: auto;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
	background-color: #e5554e;
	color: #fff;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
	background-color: #e5554e;
	color: #fff;
}

.entry-content .button:hover {
	color: #fff;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover {
	background-color: #fff;
	color: #333;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

th {
	font-weight: 400;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-container{
	background: #fff;
}

.wrap {
	margin: 0 auto;
	max-width: 1170px;
	width: 100%;
}

.site-inner {
	clear: both;
	padding-top: 40px;
}
.content-sidebar-wrap{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 980px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* ### Content */

.content {
	float: right;
	width: 800px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 580px;
}

.full-width-content .content {
	width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.archive-description,
.author-box {
	background-color: #fff;
	font-size: 16px;
	margin-bottom: 40px;
	padding: 40px;
}

.author-box-title {
	font-size: 16px;
	margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
	margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
	width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* ## Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
}

.entry-title {
	font-size: 36px;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
}

.entry-title a:hover {
	color: #e5554e;
}

.widget-title {
	font-size: 18px;
	margin-bottom: 20px;
}

.footer-widgets .widget-title {
	color: #fff;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.sticky {
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: none;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 2px solid #f5f5f5;
	margin-bottom: 20px;
	padding: 0 0 24px;
}

.footer-widgets .entry {
	border-bottom: 1px dotted #666;
}

.featured-content .entry-title {
	font-size: 20px;
}


/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
	color: #fff;
}

.sidebar .widget.enews-widget {
	background-color: #333;
}

.enews-widget input,
.enews-widget input:focus {
	border: 1px solid #333;
}

.enews-widget input {
	font-size: 16px;
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	background-color: #e5554e;
	color: #fff;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"] {
	background-color: #fff;
	color: #333;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	min-height: 160px;
}

.site-header .wrap {
	padding: 27px 0;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;
	width: 360px;
}

.header-full-width .title-area {
	width: 100%;
}

.site-title {
	font-size: 32px;
	font-weight: 400;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover {
	color: #333;
}

.header-image .site-title > a {
	background: url(images/logo.png) no-repeat left;
	float: left;
	min-height: 80px;
	width: 505px;
}

.site-description {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 16px;
	line-height: 1;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	color: #333;
	display: block;
	padding: 30px 24px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #e5554e;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: none;
	font-size: 14px;
	padding: 20px;
	position: relative;
	width: 200px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -55px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	color: #fff;
	float: right;
	list-style-type: none;
	padding: 30px 0;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	padding: 10px 0 0;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
	margin-top: -56px;
}

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #e7ebef;
	text-transform: uppercase;
}

.nav-primary .genesis-nav-menu a {
	color: #1249ab;
	padding: 25px 72px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.nav-primary .genesis-nav-menu .sub-menu a {
	color: #1249ab;
}
.nav-primary .genesis-nav-menu .current-menu-item > a{
	color: #1249ab;
	background: url('images/a-bg.png') bottom left repeat-x #fff;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #1249ab;
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	background-color: #fff;
}


/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
	padding: 50px 60px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #333;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #e5554e;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
	padding: 40px 40px 16px;
}

.entry-comments {
	padding: 40px;
}

.comment-header {
	font-size: 16px;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.comment-content {
	clear: both;
}

.comment-list li {
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 16px;
	padding: 24px;
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 16px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}



/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #333;
	clear: both;
	padding-top: 40px;
}

.footer-widgets,
.footer-widgets a {
	color: #999;
}

.footer-widgets input {
	border: 1px solid #333;
}

.footer-widgets a.button,
.footer-widgets a:hover {
	color: #fff;
}

.footer-widgets li {
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 340px;
}

.footer-widgets-1 {
	margin-right: 60px;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #fff;
	font-size: 16px;
	line-height: 1;
	padding: 40px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}


/* # Custom Css Codes
---------------------------------------------------------------------------------------------------- */
.home-socials-container{
	width: 100%;
	min-height: 18px;
	background: #045fab;
	padding-top: 18px;
	padding-bottom: 18px;
}
.home-social-text{
	display: block;
	color: #7f9cba;
	font-style: italic;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	margin-top: 3px;
}
.custome-header-container{
	max-width: 204px;
    text-align: left;
    float: right;
    width: 100%;
}

header .custom-header-container, .site-footer .custom-header-container {
	width: 237px;
    float: right;
    text-align: left;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.site-footer .custom-header-container{
	text-align: left;
	line-height: 20px;
}

.custom-header-text1, .site-footer .custom-header-text1 {
	display: block;
	color: #1fbdff;
	font-weight: bold;
	font-size: 17px;

}
.custom-header-text2{
	display: block;	
	color: #003a72;
	font-size: 24px;
	font-weight: 600;
	line-height: 35px;
}
.custom-header-text3, .custom-header-text4{
	display: block;
	color: #003a72;
	font-size: 13px;
}

.custom-header-text5{
	display: block;
	color: #003a72;
	font-size: 13px;
}

body.home .site-inner{
	width: 100% !important;
	padding: 0px;
	max-width: none;
	background: #fff;
}
.site-inner .wrap{
	width: 100%;
	background: #fff;
}
.custom-banner-id-class{

	background: url('images/banner-bg.png');
	height: 704px;
	width: 100%;

}
.custom-banner-id-class .wrap{
	background: none;
}
.custom-banner-image{
	width: 46%;
	height: 732px;
	margin-top: 51px;
}
.custom-banner-image img{
	width: 100%;
	height: auto;
}
.custom-banner-text-container{
    width: 567px;
    position: relative;
    text-align: center;
    float: right;
}
.custom-banner-headline{
	display: block;
    color: #005dab;
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 567px !important;
    text-align: center;
    margin-top: 131px;
    line-height: 60px;

}
.custom-banner-subheadline{
	display: block;
    color: #0098ce;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    width: 443px !important;
    text-align: center;
    line-height: 30px;
    margin: 20px auto;

}
.custom-banner-button{
	width: 488px;
	height: 123px;
	color: #fff;
	border-radius:10px;
	background: #ffae00;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin-top: 42px;
	box-shadow: 0 5px 0 #e49c00;
}
.custom-banner-button:hover{
	background: #ffae00;
}
.custom-banner-note{
	display: block;
    max-width: 566px;
    margin-top: 37px;
    text-align: center;
    width: 100%;
    color: #ff1b1b;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-style: italic;
}
.custom-banner-arrow{
	display: block;
	width: 52px;
	height: 78px;
	background: url('images/banner-arrow.png') no-repeat;
	position: absolute;
	left: -5%;
    top: 64%;
}

.custom-invisalign-class{
	margin-top: 140px;
	width: 670px;
    height: 1100px;
    float: left;
}
#custom-invisalign-id .textwidget{
	color: #005dab;
	font-size: 31px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}
.patient-container{
	margin-top: 70px;
}
.patient-content-container-adult{
	margin-top: 36px;
    display: block;
    width: 670px;
    height: auto;
    background: url('images/adult-image.png') no-repeat;
    padding-left: 190px;
    line-height: 28px;
 
}
.patient-content-container-parent{
	margin-top: 36px;
    display: block;
    width: 670px;
    height: auto;
    background: url('images/parent-image.png') no-repeat;
    padding-left: 190px;
    line-height: 28px;
 
}
.patient-content-container-teen{
	margin-top: 36px;
    display: block;
    width: 670px;
    height: auto;
    background: url('images/teen-image.png') no-repeat;
    padding-left: 190px;
    line-height: 28px;
 
}
.patient-style{
	width: 489px;
    height: 246px;
    color: #434950;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.patient-title{
	display: block;
	color: #0098ce;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-bottom: 15px;
}
.custom-form-class, #widget_code_php_in_widget-3{
	width: 405px;
    height: 589px;
    float: right;
    background: #005dab;
    border-radius: 5px;
    text-align: center;
    padding: 0 40px;
    position: relative;
}
body.home .custom-form-class, body.home #widget_code_php_in_widget-3{
	margin-top: 150px;
}
.custom-form-title{
	font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    display: block;
   }
 .custom-form-subtitle{
 	display: block;
 	color: #1fbdff;
 	font-style: italic;
 	font-weight: 300;
 	font-family: "Open Sans", sans-serif;

 }
 .custom-form-arrow{
 	display: block;
 	background: url('images/form-arrow.png') no-repeat;
 	width: 31px;
 	height: 107px;
 	position: absolute;
 	right: -60px;
    top: 110px;
 }
 .gfield_label, .gform_title{
 	display: none;
 }

 #widget_code_php_in_widget-3 .gform_wrapper {
 	max-width: 100% !important;
 }

 .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium{
 	width: 100% !important;
 	height: 45px;
 	border-radius: 5px;
 	padding: 0 10px;
 	margin-top: 10px;
 }
 .custom-form-button{
 	border-radius:5px;
 	background: #ffae00;
 	-webkit-box-shadow: 0px 5px 0px 0px rgba(228,156,0,1);
	-moz-box-shadow: 0px 5px 0px 0px rgba(228,156,0,1);
	box-shadow: 0px 5px 0px 0px rgba(228,156,0,1);
 }
 .custom-form-button:hover{
 	background: #ffae00;
 }
 .btn-form-text{
 	color:#fff;
 	font-weight: bold;
 	font-family: 'Montserrat', sans-serif;
 	font-size: 16px;
 	line-height: 25px; 
 }
 .custom-form-note{
 	display: block;
 	margin-top: 20px;
 	color: #fff;
 	font-family: 'Open Sans', sans-serif;
 	font-style: italic;
 	font-weight: 600;
 	font-size: 15px;
 }
  .custom-form-note2{
  	display: block;
    color: #88a9e8;
    background: url('images/key-lock.png') no-repeat;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 25px auto;
    padding: 8px 20px;
  }
  .custom-exp-class, #text-5, #widget_code_php_in_widget-6{
	margin-top: 55px;
	width: 405px;
    min-height: 387px;
    height: auto;
    float: right;
    background: #ecf4fc;
    border-radius: 5px;
    text-align: center;
    padding: 40px 40px;    
}
.custom-exp-title{
	display: block;
	font-size: 21px;
	font-family: 'Montserrat', sans-serif;
	color: #005dab;
	/*margin-top: 20px;*/
}
.custom-exp-desc{
	display: block;
	color: #434950;
	font-size: 15px;
	margin-top: 15px;
	font-family: 'Droid Serif', serif;
	font-style: italic;
}

.custom-exp-profile{
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 20px auto;
	/*background: url('images/sample-exp.png') center;*/
}
.custom-exp-profile img{
	width: 100%;
	border-radius: 50%;
}

.name{
	display: block;
	font-size: 15px;
	color: #231f20;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
}
.color-00abee{
	color: #00abee;
}
.custom-living-class{
	margin-top: 100px;
    width: 670px;
    height: 700px;
    float: left;
}
#custom-living-id .textwidget{
	color: #005dab;
	font-size: 31px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	line-height: 28px;
}
.custom-living-desc{
	display: block;
	margin-top: 20px;
	color: #464646;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 24px;
}
.living-content-container-adult{
	margin-top: 36px;
    display: block;
    width: 670px;
    height: auto;
    background: url('images/check.png') no-repeat;
    padding-left: 70px;
    font-weight: 400;
    line-height: 22px;
 
}
.invisalign-image{
	background: url('images/invisalign-image.png') no-repeat;
	width: 540px;
	height: 430px;
	position: absolute;
	right: -105px;
    top: 290px;

}
.custom-callback-class{
	background: url('images/callback.png') no-repeat;
	max-width: 1168px;
	width: 100%;
	height: 195px;
	padding: 60px 0;
	/*position: relative;*/
	margin-top: 100px;
}
.custom-callback-class h2{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-left: 83px;
}
.custom-callback-class h3{
	display: block;
	color: #60d0ff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-left: 83px;

}
.custom-callback-class a{
	display: block;
    background: url('images/btn-arrow.png') right no-repeat #fff;
    font-family: 'Montserrat', sans-serif;
    color: #005dab;
    font-size: 25px;
    width: 333px;
    height: 68px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    float: right;
    /*position: absolute;
    right: 53px;
    top: 65px;*/
}

.custom-slider-class, #widget_code_php_in_widget-5 .execphpwidget{
	background: #fff;
	max-width: 1168px;
	width: 100%;
	height: 249px;
	border-radius: 5px;
	margin-top: 50px;
	border: 2px #f0f1f2 solid;
	padding: 25px 57px;
}

#custom-slider{
	margin-top: 20px;
}

#slideNav a {
	width: 12px;
	height: 12px;
	border-radius:50%;
	background: blue;
	display: inline-block;
	text-indent: -9999px;
	border-radius: 12px;
	margin-left: 5px;
	background: #e8e8e8;
}
#slideNav a.activeSlide{
	background: #00aeef !important;
}
.custom-slider-dot{
	width: 200px;
	height: 12px;
	float: right;
	margin-left: 20px;
	z-index: 99999;
}
.dot-blue{
	width: 12px;
	height: 12px;
	background: url('images/dot-blue.png');	
	float: left;
}
.dot-plain{
	width: 12px;
	height: 12px;
	background: url('images/dot-plain.png');	
	float: left;
	margin-left: 5px;
}

.custom-slider-image-container{
	width: 115px;
    height: 150px;
    text-align: center;
    float: left;
}
.slider-image{
/*	background: url('images/sample-exp.png') center;*/
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.slider-image img{
	width: 100%;
	border-radius:50%;
	background-position: center;
}

.slider-content-container{
	width: 84%;
    height: auto;
    float: right;
    margin-left: 19px;
    font-family: 'Montserrat', sans-serif;
}
.slider-content-container h3{
	color: #005dab;
	font-size: 26px;
}
.slider-content-container p{
  	color: #434950;
    font-size: 16px;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    line-height: 28px;
    margin-top: 24px;
}
.custom-logo-inner{
	width:100%;
	background:#eef1f3;
	margin-top:83px;
	padding: 60px 0;
}
.custom-logo-inner .wrap{
	background:#eef1f3;
}
.custom-logo-class{
	background:#eef1f3;
}
.custom-logo-class img{
	float: left;
	margin-left: 50px;
}
.custom-logo-class img:first-child{
	float: left;
	margin-left: 0px;
}
.custom-subscribe-inner{
	width: 100%;
    background: #005dab;
    padding-top: 64px;
    padding-bottom: 82px;
}
.custom-subscribe-inner .wrap{
	background: none;
}
.custom-subscribe-class, .custom-subscribe-inner #widget_code_php_in_widget-4{
	width: 100%;
}
.custom-subscribe-content{
	margin-left: 0;
	width: 503px !important;
}

.custom-subscribe-content2{
	margin-left: 0;
	width: 667px !important;
}

.custom-subscribe-content h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #fff;

}
.custom-subscribe-content h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #00aeef;
}
.custom-subscribe-content2 .gfield  input[type="text"]{
	height: 62px;
	width: 412px !important;
	float: left;
	margin-top: 0;
	margin-right: 20px;
}

.custom-subscribe-content2 button{
	padding: 18px 20px;
	height: 57px;
	width: 33%;
}



.custom-subscribe-content2 .gform_wrapper .gform_footer{
	margin: 0;
	padding: 0;
	clear: none;
}

.custom-subscribe-content .gform_wrapper .gform_footer{
	padding: 0;
	margin: 0;
	clear: none;
}
.custom-subscribe-button{
	width: 28%;
}

.site-footer ul{
	letter-spacing: 2px;
}

.site-footer ul li{
	display: inline;
	margin-left: 50px;
}
.site-footer ul li:first-child{
	margin-left: 0;
}
.site-footer ul li a{
	font-size: 15px;
	color: #1d3b59;
	font-family: 'Montserrat', sans-serif;
}
.site-footer .custom-footer-menu{
	margin-left: 0;
	text-align: left;
	width: 70%;
}

.site-footer .custom-footer-contact{
	width: 27%
}

.footer-logo{
	background: url('images/logo.png') no-repeat;
	width: 374px;
	height: 101px;
	margin-top: 75px;
}
.after-footer-main{
	background: #e7ebef;
	width: 100%;
}
.after-footer{
	padding: 27px 0;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #70828f;

}
footer .menu-main-menu-container{
	text-transform: uppercase;
}
/*fb like*/
.fb-like span{
	height: 28px !important;
	margin-right: 30px;
}
/*google like*/
#___plusone_0{
	width: 58px !important;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1800px){

	.custom-banner-id-class{
		background-repeat: no-repeat;
		background-position: -115px 0px;
	}

}
@media only screen and (max-width: 1550px){
	.custom-banner-id-class{
		background-position: -245px 0px;
	}
}
@media only screen and (max-width: 1500px){
	.invisalign-image{
		right: -90px;
	}
}
@media only screen and (max-width: 1370px){
	.invisalign-image{
		right: -55px;
	}
}

@media only screen and (max-width: 1200px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.title-area {
		width: 300px;
	}

	.footer-widgets-1 {
		margin-right: 30px;
	}

}

@media only screen and (max-width: 960px) {

	.site-inner,
	.wrap {
		max-width: 800px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header .wrap {
		padding: 20px 5%;
	}

	.header-image .title-area {
		background-position: center top;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.footer-widgets-1 {
		margin-right: 0;
	}

}

@media only screen and (max-width: 800px) {

	body {
		background-color: #fff;
		font-size: 16px;
	}

	.site-inner,
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings,
	.sidebar .widget,
	.site-header {
		padding: 0;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}

}
